.wrapper {
    //display: flex;
    width: var(--default-layout-sidebar-width);
    height: 100%;

}
.container {
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1;
}
